rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /accessKeys/{accessKeyId} {
      // Allow reading a key document if authenticated. This is needed for the login page.
      // This rule allows a specific query to check for a key's existence.
      allow read: if request.auth != null;

      // Disallow listing all documents for non-admins.
      allow list: if false;
      
      // Allow creating, and updating a key document if authenticated.
      allow write: if request.auth != null;

      // Deleting keys should be an admin-only action.
      allow delete: if false;
    }
  }
}
